.launches/
targetConfigs/
Small_Data/
Large_Data/
/.metadata/
.clangd
.cproject
.project
/.claude
CLAUDE.md
.project
.project
.mcp.json
.theia/launch.json
.clangd
.cproject
.project
.settings/org.eclipse.core.resources.prefs
/.settings
